/* Global */

:root {

    /* Color */
  
    --color-white: #ffffff;
  
    --color-light-white: #eeeeee;
  
    --color-dark-white: #bdbdbd;
  
    --color-pink: #fe918d;
  
    --color-dark-pink: #ff6863;
  
    --color-dark-grey: #4d4d4d;
  
    --color-grey: #616161;
  
    --color-light-grey: #7c7979;
  
    --color-blue: #73aace;
  
    --color-yellow: #fff7d1;
  
    --color-orange: #feb546;
  
    --color-black: #000000;
  
    /* Font size */
  
    --font-large: 48px;
  
    --font-medium: 28px;
  
    --font-regular: 18px;
  
    --font-small: 16px;
  
    --font-micro: 14px;
  
    /* Font weight */
  
    --weight-bold: 700;
  
    --weight-semi-bold: 600;
  
    --weight-regular: 400;
  
    /* size */
    --size-border-radius:4px;
}

  /* Universal tags */
  * {
      box-sizing: border-box;
  }
  body {
      margin: 0px;
      cursor: default;
  }

  ul {
    padding:0px;
  }
  li {
    list-style: none;
    line-height: 35px;
  }
  
  button {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;
  }
  /* Typography */
  
  h1 {
  
    font-size: var(--font-large);
  
    font-weight: var(--weight-bold);
  
    color: var(--color-black);
  
    margin: 16px 0px;
  
  }
  
  h2 {
  
    font-size: var(--font-medium);
  
    font-weight: var(--weight-semi-bold);
  
    color: var(--color-black);
  
    margin: 8px 0;
  
  }
  
  h3 {
  
    font-size: var(--font-regular);
  
    font-weight: var(--weight-regular);
  
    color: var(--color-black);
  
    margin: 8px 0;
  
  }
  
  p {
  
    font-size: var(--font-regular);
  
    font-weight: var(--weight-regular);
  
    color: var(--color-black);
  
    margin: 4px 0;
  
  }

  a {
    text-decoration: none;
  }

  .sections {
    text-align: center;
    margin: 0 auto;
    padding:50px;
  }

  /* 넷바 */

    #navbar {
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: space-between;
      background: transparent;
      align-items: center;
      color: var(--color-white);
      transition: all 300ms ease-in-out;
      height: 10%;
    }

    #navbar.navbar--dark {
    background: var(--color-blue);
    z-index: 3;
    }

    .navbar__logo {
      font-size: var(--font-medium);
      margin-left: 10px;
    }

    .navbar__menu {
      display: flex;
      cursor: pointer;
    }
    .navbar__menu__item {
      list-style: none;
      margin: 0 10px;
      padding: 8px;
    }
    .navbar__menu__item.home {
        border: 1px solid white;
        border-radius: var(--size-border-radius);
    }

    .navbar__menu__item:hover {
        background-color: var(--color-dark-white);
        border-radius: var(--size-border-radius);
        
    }
     
    .navbar__toggle-btn {
      position: absolute;
      top:14px;
      right: 10px;
      font-size: var(--font-medium);
      color: var(--color-white);
      display: none;
    }

    /* 자기소개 */

    #home {
      background: url("images/home_background_blue.png") center/cover no-repeat;
      text-align: center;
      padding:40px;
      padding-top: 120px;
    }
    
    .home__image {
      border-radius: 50%;
      border: 2px solid var(--color-white);
      width: 250px;
      height: 250px;
    }
    .home__title,
    .home__description {
      color:var(--color-white);
    }

    .home__contact {
      font-size: var(--font-medium);
      margin: 24px;
      padding : 8px 12px;
      border: 2px solid var(--color-white);
      border-radius: var(--size-border-radius);
      color: var(--color-white);
    }


    /* 전공 및 커리어  */
    .about__majors {
      display: flex;
     margin: 0 auto;
     justify-content: space-between;
     margin: 80px 0 60px 0;
    }
    
    .major {
      width: 280px;
    }
    .major__icon {
      width: 170px;
      height: 170px;
      font-size: 70px;
      line-height: 160px; 
      /* line-height랑 높이가 같으면 가운데 중앙 정렬됨. */
      margin: auto;
      border: 1px solid var(--color-blue);
      border-radius: 50%;
      margin-bottom: 16px;
      color:var(--color-blue);
    }
    .major__icon i {
      transition: 300ms ease;
    }
    .major__icon i:hover {
      color:var(--color-dark-pink);
      transform: rotate(-15deg) scale(1.2);
    }

    .major__title,
    .major__description {
      color: var(--color-dark-grey); 
    }

    .major__description {
      font-size: var(--font-small);
    }

    .sections_container {
      max-width: 1200px;
      margin:auto;
    }

    /* 스킬 */
  
    #skills {
      background: var(--color-yellow);
    }
    .skillset   {
      display: flex;
      color:var(--color-white);
      margin: 20px 0;
      background: var(--color-light-grey);
      height: 400px;
    }

    .skillset__title {
      color:var(--color-white);

    }
    .skillset__left {
      flex-basis: 60%;
      padding: 20px 50px;
    }

    .skill__description {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
    }

    .skillset__right {
      flex-basis: 40%;
      background: var(--color-grey);
    }

    .skill__bar {
      width: 100%;
      height: 3px;
      background: var(--color-grey);
      margin-bottom: 5px;
    }

    .skill__value {
      height: 3px;
      background: var(--color-orange);
    }

    .tools {
      padding: 20px 30px;

    }

    /* 프로젝트 */
    .word__cotegories {
      margin: 40px;
    }

    .category__btn {
      border: 1px solid var(--color-dark-white);
      border-radius: var(--size-border-radius);
      font-size: var(--font-regular);
      padding: 8px 48px;
    }

    .category__btn.active,
    .category__btn:hover {
      background-color: var(--color-pink);
      color: var(--color-white);
    }

    .category__count {
     background:var(--color-orange);
     font-size: var(--font-small);
     border-radius: 50%;
     display: inline-block;
     width: 17px;
     height: 17px;
     line-height: 17px;
     text-align: center;
     color:var(--color-white);
     position: relative;
     top:-20px;
     left: 4px;
     transition: all 300ms;
     opacity: 0;
    }

    .category__btn.active .category__count,
    .category__btn:hover .category__count {
      opacity: 1;
      top:0px
    }

    .work__projects {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
    
    }

    .project {
      width: 280px;
      height: 250px;
      margin: 2px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .project__image {
      max-width: 100%;
      max-height: 100%;
    }

    .project__description {
      display: flex;
      justify-content: center;
      flex-flow: column;
      position: absolute;
      top:0px;
      left: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: var(--color-black);
      transform: translateY(20px);
      color:var(--color-white);
      transition: all 300ms;
    }

    .project__description > h3 {
      color:var(--color-white);
    }

    .project:hover .project__description {
      opacity: 0.7;
      transform: translateY(0px);
    }
    
    /* 추천사 */
    #testimonials {
      background-color: var(--color-light-white);
    }

    .testimonials {
      margin: 32px 0;
    }

    .testimonial {
      display: flex;
      justify-content: left;
    } 

    .testimonial__right {
      display: flex;
      justify-content:  flex-end;
    }
    .tesimonial__image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 20px;
    
    }

    .testimonial__speech-bubble {
      background-color: var(--color-white);
      border-radius: var(--size-border-radius);
      margin: 20px;
      padding:30px
    }

    .testimonial__speech-bubble p {
      color:var(--color-light-grey);
    }
    
    .testimonial__speech-bubble a {
      color:var(--color-pink);
    }

    /* 컨택트 */

    #contact {
      background-color: var(--color-pink);
    }

    .contact__title,
    .contact__email,
    .contact__links,
    .contact__rights {
      color:var(--color-white);
    }

    .contact__title { 
      margin: 5px 0;
    }

    .contact__email {
      font-size: var(--font-small);
      margin: 32px 0;
    }

    .contact__links {
      font-size: var(--font-large);
      margin: 24px 0;
    }

    .contact__links i {
      transition: all 300ms;
    }
    .contact__links i:hover {
      transform: scale(1.2);
      transform: rotate(10deg);
      color: var(--color-black);
    }
    
    .arrow-up {
      position: fixed;
      bottom:50px;
      right:50px;
      width: 70px;
      height: 70px;
      font-size: 50px;
      background-color: var(--color-pink);
      color: var(--color-white);
      border-radius: 50%;
      opacity: 0;
      pointer-events: none; 
      /* 클릭이 안됨 */
      transition: all 300ms ease;
    }

    .arrow-up.visible {
      opacity: 1;
      pointer-events: auto;
    }

    @media screen and (max-width:768px) {
      .navbar__toggle-btn {
        display: block;
      }

      .navbar__menu__item.home {
        border: none;
      }
    
      .navbar__logo {
        padding: 10px;
        margin-bottom: 5px;
      }
      #navbar {
        flex-direction: column;
        align-items: flex-start;
       }

       .navbar__menu.open {
        display: block;
        z-index: 300;
        background-color: var(--color-blue);
      }

      .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
        
      }

      .about__majors {
        flex-direction: column;
      }
      .major {
        margin-bottom: 10px;
        width: 100%;
      }

      .skillset {
        flex-direction: column;
      }

      .project {
        background-color: var(--color-dark-white);
        flex-basis:100%;
      }

      .tesimonial__image {
        width:80px;
        height: 80px;
      }
    }
